@model EcommerceProject.Models.Order

@{
    ViewData["Title"] = "Order Successful";
}

<section class="checkout-page">
    <div class="container">

        <div class="order-success-card">
            <div class="success-icon">
                <i class="bi bi-check-circle"></i>
            </div>

            <h1>Order placed successfully!</h1>
            <p>Your order has been saved and is now pending confirmation.</p>

            <div class="success-order-info">
                <div>
                    <span>Order ID</span>
                    <strong>#@Model.Id</strong>
                </div>

                <div>
                    <span>Total Amount</span>
                    <strong>$@Model.TotalAmount.ToString("0.00")</strong>
                </div>

                <div>
                    <span>Status</span>
                    <strong>@Model.Status</strong>
                </div>
            </div>

            <div class="success-actions">
                <a asp-controller="Products" asp-action="Index" class="checkout-secondary-btn">
                    Continue Shopping
                </a>

                <a asp-controller="Home" asp-action="Index" class="place-order-btn small">
                    Go to Home
                </a>
            </div>
        </div>

    </div>
</section>